
services:
  gtst-mysql:
    image: mysql:8
    container_name: guitsaithanh-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3310:3306"
    volumes:
      - mysql-data-guitarsaithanh:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Add this line

    networks:
      - proxy
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s

  gtst-api:
    build: ./api
    container_name: guitarsaithanh-api
    expose:
      - "3000"
    depends_on:
      gtst-mysql:
        condition: service_healthy
    env_file:
      - ./api/.env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      VIRTUAL_PORT: ${VIRTUAL_PORT}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    networks:
      - proxy
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  gtst-admin:
    build: ./admin
    container_name: guitarsaithanh-admin
    ports:
      - "3005:3500"
    env_file:
      - ./admin/.env
    environment:
      VIRTUAL_HOST: ${ADMIN_VIRTUAL_HOST}
      VIRTUAL_PORT: ${ADMIN_VIRTUAL_PORT}
      LETSENCRYPT_HOST: ${ADMIN_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${ADMIN_LETSENCRYPT_EMAIL}
    networks:
      - proxy
    restart: unless-stopped

  gtst-web:
    build: ./web
    container_name: guitarsaithanh-web
    ports:
      - "3006:3900"
    depends_on:
      gtst-api:
        condition: service_healthy
    env_file:
      - ./web/.env
    environment:
      VIRTUAL_HOST: ${WEBSITE_VIRTUAL_HOST}
      VIRTUAL_PORT: ${WEBSITE_VIRTUAL_PORT}
      LETSENCRYPT_HOST: ${WEBSITE_LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${WEBSITE_LETSENCRYPT_EMAIL}

      CLIENT_MAX_BODY_SIZE: 25m
    networks:
      - proxy
    restart: unless-stopped
    # ✅ Chờ đến khi API thực sự sẵn sàng

networks:
  proxy:
    external: true

volumes:
  mysql-data-guitarsaithanh: